#option_div {
  margin-right: 1%;
  display: flex;
}
.form-select {
  margin: 1%;
 }
#board_container {
  /*  border: 1px solid gray; 확인용 */
  border-radius: 11px;
  width: 90vw;
  height: 83vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.custom_row_basic {
 /*  border: 1px solid gray;  확인용*/
  /*  --bs-gutter-x: 0rem; */
  /* --bs-gutter-y: 0rem; */
  /* border-radius: 11px; */
  width: 100%;
  height: 100%;
  /* padding: 1%; */
  overflow-y: scroll;
  display: flex;
  align-content: flex-start;
  /*스크롤 숨기기*/
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.custom_row_basic::-webkit-scrollbar {
  display: none; 
/* 크롬,사파리,오페라,엣지 - 스크롤 숨기기*/
}
button{
	border: none;
}

/*캐러셀 - big, write 페이지 적용*/
.carousel {
 height: 100%;
}
/* small 보기 - 정렬  div */
.sort_div {
	display: flex;
	width: 80%; /* 88vw -> 80% 수정 */
	/* border: 1px solid red; */
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
.sort {
	display: flex;
	width: 15%;
	justify-content: space-around;
}
.small-select {
  width: 5.4rem;;
}
.form-select {
  font-size: 1.5vh;
  background-color: #ededed;
}
/* my_view 비공개 */
.private_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.private_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.566); 
}
.lock_i {
  position: absolute;
  z-index: 5; /* 10으로 하니까 슬라이드 메뉴 펼쳤을 때 아이콘이 위로 올라와서 줄였어요 */
}