@charset "UTF-8";
body { 
  margin: 0 auto;
  background-color: rgba(174, 174, 180, 0.199); 
}
button {
  border: none;
  background-color:transparent;
}
#menu_bar {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(174, 174, 180, 0.158);
  font-size: 2vh;
  height: 7vh;
}
#menu_btn {
  padding-left: 7px;
} 
#login_btn {
  padding-right: 7px;
  font-weight: bold;
  text-decoration: none;
  color: #0b0f36;
}
#profile{
  height: 20vh;
  background-color: white;
}
#profile:hover{
  cursor: pointer;
}
#profile divs{
  border: 1px solid gray;
}
#img{
  border: 1px solid black;
  border-radius: 50%;
}
#link {
  background-color: white;
}
#link > div{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#link > div+div{
  border-top: 1px solid lightgray;
}
#link > div:hover{
  cursor: pointer;
}
#sec{
  height: 1vh;
}

#latest{
  height: 15vh;
  background-color: white;
  overflow-y: hidden;
}
#latest > div {
  border: 1px solid black;
  flex-shrink: 0;
}
#latest > div > div {
  border: 1px solid black;
  border-radius: 10%;
}

#latest::-webkit-scrollbar {
  display: none; 
/* 크롬,사파리,오페라,엣지 - 스크롤 숨기기*/
}